
.navbar-collapse{
    background-color: none;
    justify-content: center;
}
.footer{
    padding: 2rem 1.5rem 2rem;
}

.title{
    text-align: center;
}
br {
    
    margin-bottom: 5px;
    font-size:2px;
    line-height: 2px;
}
.column{
    display: grid;
}
.hero-body{
   
  background: #6EB5C0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6EB5C0, rgb(121, 212, 226)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6EB5C0, rgb(121, 212, 226)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.navbar{
    background: #6EB5C0; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(160, 196, 223), rgb(54, 130, 168)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6EB5C0, rgb(121, 212, 226)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.footer{
    background: #6EB5C0; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6EB5C0, rgb(121, 212, 226)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6EB5C0, rgb(121, 212, 226)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}