
.navbar-collapse{
    justify-content: center;
}
.footer{
    padding: 2rem 1.5rem 2rem;
}
.navbar-toggler-icon{
    color: red;
}
.title{
    text-align: center;
}
br {
    
    margin-bottom: 5px;
    font-size:2px;
    line-height: 2px;
}
.column{
    display: grid;
}