
<html>
  <%- include('./partials/header.ejs') %>
  <%- include('./partials/head.ejs') %>
  <body>
     <!-- ABOUT START -->
      <section class="hero is-small ">
        <div class="hero-body">
          <div class="container">
              <!-- CONTAINER START -->
            <h1 class="title">About</h1>
              <!-- INFORMACION START -->
            <article class="message is-info">
              <div class="message-body">

                <strong><em>Informacion:</em></strong> <br>

                <br>  

                <strong><em>- Nacimiento:</em></strong> 22/09/1997 <br>
                <strong><em>- Años:</em></strong> 22 años <br>
                <strong><em>- Residencia:</em></strong> Argentina, Buenos Aires: Capital Federal <br>

              </div>
            </article>
              <!-- INFORMACION END -->
              <!-- ESTUDIOS START -->
            <article class="message is-info">
              <div class="message-body">

                <strong><em>Estudios:</em></strong> <br> 
                <br> 
                <strong>- FullStack Developer -</strong> Digital House (<em>Finalizado</em>)<br>
                <strong>- Desarrollo de Videojuegos -</strong> UTN Buenos Aires (<em>Finalizado</em>)<br>
                <strong>- Experto Universitario en Programación -</strong> UTN Buenos Aires (<em>En curso</em>)<br>
              </div>
            </article>
              <!-- ESTUDIOS END -->
              <!-- ABOUTME START -->
            <article class="message is-info">
              <div class="message-body">
                <strong><em>Acerca de mi:</em></strong> <br> 
                <br> Una persona totalmente tranquila, amable y con mucha energia, demasiado callado y otra veces no tanto, introvertido pero perseverante. Amante de la Programacion y los Videojuegos. La curiosidad es una de las cosas que mas se destaca en mi personalidad
              </div>
            </article>
              <!-- ABOUTME END -->
              <!-- MEDIAS START -->
            <article class="message is-info">
              <div class="message-body">

                <strong><em>Redes Sociales: </em></strong> <br> 
                <br>

                <img src="../images/facebook.png"class="icons-media"><strong> - <a href="https://www.facebook.com/LeonardoCaponeOK/">Facebook</a></strong><br>
 
                <br> <img src="../images/linkedin.png"class="icons-media"><strong> - <a href="https://www.linkedin.com/in/leonardo-capone-52697a144/">Linkedin</a></strong><br>
                <br><img src="../images/github.png" class="icons-media"><strong> - <a href="https://github.com/Esquiafo">Github</a></strong><br>
                <br> <img src="../images/instagram.png" class="icons-media"> <strong> - <a href="https://www.instagram.com/esquiafito/">Instagram</a></strong><br>

              </div>
            </article>
              <!-- MEDIAS END -->
          </div>
           <!-- CONTAINER END -->
        </div>
      </section>
       <!-- ABOUT END -->
       <h1 class="title">Skills</h1>
       <section class="hero is-small">
        <div class="hero-body">
          <div class="container">
            <div class="columns is-mobile">
              <div class="column">

                <div class="columns is-mobile">
                  <div class="column"><span class="tag is-warning">JS</span></div>
                  <div class="column">  <progress class="progress is-warning" value="83" max="100">83%</progress> </div>
                  
                </div>
    
                <div class="columns is-mobile">
                  <div class="column"><span class="tag is-primary">HTML</span></div>
                  <div class="column">  <progress class="progress is-primary" value="80" max="100">80%</progress></div>
                  
                </div>
    
                <div class="columns is-mobile">
                  <div class="column"><span class="tag is-info">CS</span></div>
                  <div class="column">  <progress class="progress is-info" value="67" max="100">67%</progress> </div>
                 
                </div>
    
                <div class="columns is-mobile">
                  <div class="column"><span class="tag is-black">Git</span></div>
                  <div class="column"> <progress class="progress is-black" value="50" max="100">50%</progress> </div>
                  
                </div>
              </div>

              <div class="column">
                
                <figure class="image is-3by1">
                  <img src="https://bulma.io/images/placeholders/720x240.png">
                </figure>

              </div>
            </div>
          

          </div>
        </div>
       </section>
       <h1 class="title">Portfolio</h1>
      <!-- Contact-->
      <h1 class="title">Contact</h1>
      <section class="hero is-small">
        <div class="hero-body">
          <div class="container">
    
        
          
      <div class="field">
        <label class="label">Nombre</label>
        <div class="control">
          <input class="input" type="text" placeholder="Leonardo Capone">
        </div>
      </div>
      
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="email" placeholder="leocapone@hotmail.com">
        </div>
      </div>
      <label class="label">Mensaje</label>
      <textarea class="textarea" placeholder=""></textarea> 
      <br>
      <button class="button is-fullwidth is-success">Enviar</button>

      
      </div>
    </section>

  </body>
  <%- include('./partials/footer.ejs') %>
</html>

