<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Make by <a href="https://github.com/Esquiafo/PaginaPersonal">Leonardo Capone</a>.</strong> <a> Responsive with Boostrap & Bulma, Icons from Pixel Perfect</a> <br>
        <em>Update: 05/2020</em>
      </p>
    </div>
  </footer>