<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Make by <a href="https://github.com/Esquiafo/PaginaPersonal">Leonardo Capone</a>.</strong> <a> Made with Boostrap & Bulma</a> Update: 05/2020
      </p>
    </div>
  </footer>