<head>
    <!-- NAVBAR START -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarNavDropdown">
       <ul class="navbar-nav">
         <!-- ELEMENTSNAV START -->
         <li class="nav-item">
           <a class="nav-link has-text-black" href="#">About </a>
         </li>
         <li class="nav-item">
           <a class="nav-link has-text-black" href="#">Skills</a>
         </li>
         <li class="nav-item">
           <a class="nav-link has-text-black" href="#">Portfolio</a>
         </li>
         <li class="nav-item">
           <a class="nav-link has-text-black" href="#">Contact</a>
         </li>
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle has-text-black" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Blog
           </a>
           <!-- ELEMENTSNAV END -->
           <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <!-- LIST START -->
             <a class="dropdown-item has-text-warning" href="#">Js</a>
             <a class="dropdown-item has-text-success" href="#">Html</a>
             <a class="dropdown-item has-text-link " href="#">Css</a>
             <a class="dropdown-item has-text-black" href="#">Git</a>
             <!-- LIST END -->
           </div>
         </li>
       </ul>
     </div>
   </nav>

   <!-- NAVBAR END -->
 </head>